@model IEnumerable<WebServicos.Domain.Servico>
@using System.Globalization
@{
    Layout = null;
    var fornecedores = new WebServicos.Domain.ServicosContext().Fornecedor.ToList();
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Mês
            </th>
            <th scope="col">
                Fornecedor
            </th>
        </tr>
    </thead>
    @for (int i = 1; i <= 12; i++)
    {
        bool firstMonth = true;
        var fornecedoresMes = fornecedores.Where(s => !Model.Where(y => y.Data.Month == i && y.Data.Year == DateTime.Now.Year).Any(x => x.Fornecedor_ID == s.Id));
        foreach (var item in fornecedoresMes)
        {
            <tr>
                @if (firstMonth)
                {
                    firstMonth = false;
                    CultureInfo cinfo = CultureInfo.CreateSpecificCulture("pt-BR");
                    <td rowspan="@(fornecedoresMes.Count())" class="align-middle"> @cinfo.DateTimeFormat.GetMonthName(i) </td>
                }
                <td> @item.Nome</td>
            </tr>
        }

    }
</table>
