@model IEnumerable<WebServicos.Domain.Servico>

@{
    ViewBag.Title = "Estatísticas";
}
<h2 class="mt-4">Estatísticas</h2>
@Html.Partial("_StatsTopCostumers", Model)
<hr />
@Html.Partial("_StatsProviders", Model)
<hr />
@Html.Partial("_StatsProvidersTypeServices", Model)
<hr />
