@model IEnumerable<WebServicos.Domain.Servico>

@{
    ViewBag.Title = "Estatísticas";
}
<h2 class="mt-4">Estatísticas</h2>

<h3 class="mt-4 mb-4">Top Clientes</h3>
@Html.Partial("_StatsTopCostumers", Model)
<hr />
<h3 class="mt-4 mb-4">Fornecedores sem compra</h3>
@Html.Partial("_StatsProviders", Model)
<hr />
<h3 class="mt-4 mb-4">Média por Fornecedor e Tipo de Serviço</h3>
@Html.Partial("_StatsProvidersTypeServices", Model)
<hr />
